<div class="container-fluid">
  <% @lists.each do |list| %>
    <div class="col-md-4">
      <h2><%= link_to(list.name, list) %></h2>
      <%= render partial: 'todos_preview', locals: { list: list } %>
    </div>
  <% end %>
</div>
