<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Priority ToDo List</a>
      <a class="btn btn-default" href="/lists/new" role="button">New List</a>
    </div>
  </div>
</nav>
